{% extends "layout.html" %}

{% block content %}
    <section id="add_contact">
        <h2>Add Contact</h2>
        <form action="{{ url_for('main.new_contact') }}" method="post">
            <input type="text" name="contact_name" placeholder="Contact Name" required autocapitalize="words">
            <input type="text" name="contact_number" placeholder="Contact Number" required>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">➕</button>
            <a href="{{ url_for('main.contacts') }}">⬅️</a>
        </form>
    </section>
{% endblock %}